.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LandingPage{
  height: 100%;
  width: 100vw;
}


.board {
   width: 90%;
   margin: auto;
}

.boardRow{
  display: flex;
  justify-content: center;
}

.tile {
   width: 50px;
   height: 50px;
   font-size: small;
}

#canvas{
  width: 350px;
  position: absolute;
  top: calc(50vh - 370px);
  left: calc(50vw + 145px);
}

.card{
  width:200px;
  margin: auto;
}

.cardImage{
  width: 200px;
  height: 200px;
}

.playerInfo{
  position: absolute;
  top: 50px ;
  left: 15px;
  width: calc(50vw - 435px);
  border-radius: 5%;
  padding: 10px;
}

.avatar{
  width: 50%;
  border-radius: 50%;
}

.waitingAvatar{
  width: 50%;
  height: 100%;
  border-radius: 50%;
  border: dashed;
  margin: auto;
  align-items: center;
  display: grid;
}

.playerPiece {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  z-index: 1;
  background-color: white;
}

.startButton{
  width: 150px;
  height: 75px;
  font-size: large;
  border-radius: 5%;
  border: none;
  margin: auto;
  align-items: center;
  display: grid;
  background: whitesmoke;
}

.startButton a{
  text-decoration: none;
  color: black;

}

.ReactModal__Overlay {
  z-index: 100;
}

.playerIcon{
  width: 350px;
  height: 175px;
  margin: auto;
}

.playerIconDiv{
  display: inline-flex;
}

.skillOptionsDiv{
  display: flex;
}

.optionDiv{
  margin: 10px;
  display: grid;
}

.skillCard{
  width: 200px;
    height: 250px;
    border: thin;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}

.skillCard img{
  width:200px;
}

.optionDiv button{
  margin-top: 10px;
}